@model Notification


<h1>Order Confirmed</h1>
<hr />
<br />
<h2>Your order has been placed successfully.</h2>
<h2>Thank you for your purchase!</h2>

<br />
<br />
<br />

<h3>Details:</h3>

<br />
<br />
<br />

@*Adicionar os detalhes da compra*@

<div class="text-white">
    <a asp-controller="Products" asp-action="Index" class="btn btn-secondary float-right"><i class="bi bi-plus-circle"></i> Back to shop </a>
</div>
