@{
    ViewData["Title"] = "Home Page";
}

<body>

<section id="hero" class="wow fadeIn">
    <div class="hero-container">
        <h1>Welcome To Botanic74252</h1>
        <h2>
            Everyone deserves a bit of green
        </h2>
        <img src="\assets\img\91250-removebg-preview.png" alt="Hero Imgs" style="height: 350px">
        <a class="btn-get-started scrollto" asp-area="" asp-controller="Products" asp-action="Index">Got to Shop</a>
    </div>
</section>

<section id="get-started" class="padd-section text-center wow fadeInUp">

    <div class="container">
        <div class="section-title text-center">

            <h2>About us </h2>
            <p class="separator">Created in 2023 for a project at Rumos .</p>

        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4">
                <div class="feature-block">

                    <img src="\assets\img\shopping-cart.png" alt="img" class="img-fluid">
                    <h4>Introducing our shop</h4>
                        <p>Visit our store and our magnificent products</p>

                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="feature-block">

                    <img src="\assets\img\target2.jpg" alt="img" class="img-fluid">
                    <h4>Our Challenges</h4>
                        <p>If you like challenges you have to try ours</p>

                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="feature-block">

                    <img src="\assets\img\forum.jpg" alt="img" class="img-fluid">
                    <h4>Forum</h4>
                        <p>For everyone who needs help use our community</p>

                </div>
            </div>

        </div>
    </div>

</section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>

